.DS_Store
.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

.RData
.Rhistory
.Rproj.user/

data/external/*
!data/external/.gitkeep
output/*
!output/.gitkeep

app/frontend/node_modules/
app/frontend/dist/
*.tsbuildinfo
